{%extends 'all-projects/base.html'%}

{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
          <strong><h2 style="color:brown; text-align: center;">{{image.title}}</h2></strong>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img style=" margin-top: 20px; margin-bottom: 20px; width:380px; height:280px; border-radius: 30px;" src="{{image.image.url}}" alt="Image" width='200' length='200'>
        {% autoescape on %}
        <strong>Description: </strong>{{image.description|safe}}
        
        <strong>Live site: </strong><a href="{{image.link|safe}}">{{image.link|safe}}</a>         
      {% endautoescape %}
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
