{%extends 'all-projects/base.html'%}
{% block content %} 
{{ block.super}}
{% load bootstrap3 %}

<div class="container" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhglDdMNHbr4p-_dzhp3GEbzsHCmfSV2Bimituq1aKVJuvPp_owQ'); background-repeat: no-repeat; background-size: cover;">
  <div class="row">
 
    {%for images in images%}
   
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px;">
        {{image.name}}
      <img style=" margin-top: 20px; margin-bottom: 20px; width:400px; height:300px; border-radius: 30px;" src="{{images.image.url}}"  class="img-responsive" alt="Image">
      
      {% autoescape on %}
        <strong>Description: </strong>{{images.description|safe}}
        <br>
        <strong>Live site: </strong><a href="https://appgallery1.herokuapp.com/">https://appgallery1.herokuapp.com/</a>
      {% endautoescape %}
      
    </div>
{%endfor%}
  </div>

 
</div>

{% endblock %}