{% block content %} 
{{ block.super}}
{% load bootstrap3 %}

<div class="container" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW4jgCsakUYTdpBDnvFlqYr6Qb9gxWLbVIltFGsOeBNs63yPDLoA'); background-repeat: no-repeat; background-size: cover;">
  <div class="row">
 
    {%for images in images%}
   
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px;">
        {{image.name}}
      <img style=" margin-top: 20px; margin-bottom: 20px; width:300px; height:200px; border-radius: 30px;" src="{{images.image.url}}"  class="img-responsive" alt="Image">
      {% autoescape on %}
        <strong>Caption: </strong>{{images.caption|safe}}
      {% endautoescape %}
    </div>
{%endfor%}
  </div>

 
</div>

{% endblock %}